appnope==0.1.0
backcall==0.1.0
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.2
entrypoints==0.2.3
idna==2.7
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.35.2
jupyterlab-server==0.2.0
kaggle==1.4.7.1
lxml==4.2.5
MarkupSafe==1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numpy==1.15.2
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
postgres==2.2.2
prometheus-client==0.4.2
prompt-toolkit==2.0.6
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
python-slugify==1.2.6
pytrends==4.4.0
pytz==2018.5
pyzmq==17.1.2
requests==2.19.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
